:root {
  /* https://modernfontstacks.com/
     neo-grotesque font */
  --font-system: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  --background-color: white;

  --text-color: black;

  --link-color: black;
}
